nav {
  display: flex;
  justify-content: space-between;
  background: #e2fcff;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li {
      padding: 0 5px;
    }
  }
}